/* General Selectors */

body {
    /* background-color: #121212; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1764%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(18%2c 18%2c 18%2c 1)'%3e%3c/rect%3e%3cpath d='M398.6 208.12 a136.65 136.65 0 1 0 273.3 0 a136.65 136.65 0 1 0 -273.3 0z' fill='rgba(159%2c 175%2c 202%2c 0.66)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1259.65 39.68 a115.23 115.23 0 1 0 230.46 0 a115.23 115.23 0 1 0 -230.46 0z' fill='rgba(159%2c 175%2c 202%2c 0.66)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1005.62 302.18 a104.79 104.79 0 1 0 209.58 0 a104.79 104.79 0 1 0 -209.58 0z' fill='rgba(159%2c 175%2c 202%2c 0.66)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M177.97 479.93 a145.43 145.43 0 1 0 290.86 0 a145.43 145.43 0 1 0 -290.86 0z' fill='rgba(159%2c 175%2c 202%2c 0.66)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M108.71 27.54 a143.2 143.2 0 1 0 286.4 0 a143.2 143.2 0 1 0 -286.4 0z' fill='rgba(159%2c 175%2c 202%2c 0.66)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-7.68 202 a179.86 179.86 0 1 0 359.72 0 a179.86 179.86 0 1 0 -359.72 0z' fill='rgba(159%2c 175%2c 202%2c 0.66)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1764'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    background: #9fafca;
    border: 5px solid black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

header img {
    float: left;
    margin-top: 5px;
}

header nav {
    background-color: #9fafca;
    float: right;
}

header nav ul {
    padding: 0;
}

header nav button {
    background-color: #9fafca;
    height: 50px;
    width: 150px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

header nav li {
    display: inline-block;
    padding: 0px 0px;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 80%;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    background-color: #AFCA9F;
}

table tbody tr:nth-of-type(odd):hover {
    background-color: #cee7c0;
}

table th {
    background-color: #9fafca;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #A89FD6;
}

table tbody tr:nth-of-type(even):hover {
    background-color: #c3bbe9;
}

table td {
    padding: 12px 15px;
}

td {
    font-size: 16px;
}

th {
    text-align: center;
    width: 10%;
    font-size: 20px;
}

nav button:hover {
    background-color: #c1d4f4
}

/* Class Selectors */

.container {
    width: 85%;
    margin: 0 auto;
}

.main_menu {
    background-color: #9fafca;
    border: 5px solid black;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

.main_menu button {
    background-color: #9fafca;
    height: 50px;
    width: 300px;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.main_menu nav button:hover {
    background-color: #c1d4f4;
}

.main_menu h1 {
    text-align: center;
}

.main_menu h2 {
    text-align: center;
}

.main_menu li {
    display: inline-block;
    padding-bottom: 5px;
}

.main_menu p {
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
}

.main_menu ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.table-wrap {
    margin-bottom: 20px;
}

/* Id Selectors */

#assignment {
    width: 15%;
}

#assignment_info,
#settings_form {
    margin: auto;
    width: 40%;
    padding: 20px;
}

#assignment_info button,
#settings_form button {
    height: 50px;
    width: 100%;
}

#assignment_info input,
#settings_form input {
    height: 20px;
    width: 100%;
}

#assignment_info label,
#settings_form label {
    font-size: 22px;
    font-weight: bold;
}

#assignment_info textarea {
    height: 100px;
    width: 100%;
}

#calendar-sortable-button {
    width: 100%;
    border: 2px solid black;
}

#calendar-sortable-button:hover {
    background-color: #c1d4f4
}

#description {
    width: 18%;
}

#remove {
    width: 3%;
    border-left: none;
}

#submit_button {
    background-color: #9fafca;
    line-height: -0;
    padding: 20px;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

#submit_button:hover {
    background-color: #c1d4f4
}

/* Media adjustments */

@media (max-width: 1200px) {
    body {
        width: 80%;
    }
}

@media (max-width: 768px) {
    body {
        width: 95%;
    }
}

/* @media (max-width: 320px) */

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    font: 20px / 1.5 sans-serif;
    display: block;
    width: 100%;
    padding: 5px 7px;
}

#assignment_info label {
    padding-bottom: 5px;
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
}