body {
  background-color: #121212;
}

header {
  background: #9fafca;
  border: 5px solid black;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 85%;
  margin: 0 auto;
}

header img {
  float: left;
  margin-top: 5px;
}

header nav {
  background-color: #9fafca;
  float: right;
}

header nav li {
  display: inline-block;
  padding: 0px 0px;
}

header nav button {
  background-color: #9fafca;
  height: 50px;
  width: 150px;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  border: 3px solid black;
}

.main_menu {
  background-color: #9fafca;
  border: 5px solid black;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.main_menu h1 {
  text-align: center;
}

.main_menu ul {
  text-align: center;
}

.main_menu li {
  display: inline-block;
  padding-bottom: 5px;
}

.main_menu button {
  background-color:#9fafca;
  height: 50px;
  width: 300px;
  font-size: 20px;
  cursor: pointer;
  border: 3px solid black;
}

.main_menu nav button:hover {
  background-color:#c1d4f4;
}

.main_menu h2 {
  text-align: center;
}

.main_menu p {
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
}

#assignment_info {
  margin: auto;
  width: 40%;
  padding: 20px;
}

#assignment_info label {
  font-size: 22px;
  font-weight: bold;
}

#assignment_info input {
  height: 20px;
  width: 100%;
}

#assignment_info textarea {
  height: 100px;
  width: 100%;
}

#assignment_info button {
  height: 50px;
  width: 100%;
}

table {
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
}

th {
  text-align: center;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 10%;
  font-size: 20px;
}

td {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 16px;
}

#remove {
  width: 3%;
  border-left: none;
}

#assignment {
  width: 15%;
}

#description {
  width: 18%;
}

#submit_button {
  margin-top: 10px;
  height: 50px;
  width: 30%;
  margin: auto;
  text-align: center;
  cursor: pointer;
  background-color:#9fafca;
  border: 3px solid black;
}

nav button:hover {
  background-color: #c1d4f4
}
