<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assignment Planner</title>
    <meta charset="UTF-8">
</head>

<body>
    <link href="css/main.css" rel="stylesheet">
    <header>
        <div class="container">
            <img src="logo.png" alt="Assignment Tracker Logo" width="250px" height="70px">
            <nav>
                <ul id="nav">
                    <li>
                        <button onclick="window.location.href='home';">Main Menu</button>
                    </li>
                    <li>
                        <button onclick="window.location.href='assignments';">Assignments</button>
                    </li>
                    <li>
                        <button onclick="window.location.href='calendar';">Calendar</button>
                    </li>
                    <li>
                        <button onclick="window.location.href='settings';">Settings</button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main_menu">
        <h1>Course Actions</h1>
        <div>
            <nav>
                <ul>
                    <li>
                        <button onclick="window.location.href='add_course';">Add Course</button>
                    </li>
                    <li>
                        <button onclick="window.location.href='edit_course';">Edit Course</button>
                    </li>
                    <li>
                        <button onclick="window.location.href='remove_course';">Remove Course</button>
                    </li>
                </ul>
            </nav>
        </div>
        <form id="add_course_form" action="/add_course" method="post">
            <label>Add Course</label> <br>
            <input type="text" id="import_url" name="course_name" placeholder="Course Name" required><br>
            <input type="submit" id="submit_button_add" name="add_course" placeholder="Course Name" value="Add Course"
                required>
            <br>
        </form>
        <form id="remove_course_form" action="/remove_course" method="post">
            <label>Remove Course</label> <br>
            <select id="course" name="course_id" required>
                <option value="none">Select a course</option>
                {% for course_id, course in courses.items() %}
                <option value="{{course.id}}">{{course.name}}</option>
                {% endfor %}
            </select><br>
            <input type="submit" id="submit_button_remove" name="remove_course" placeholder="Course Name"
                value="Remove Course" required>
            <br>
        </form>
    </div>
</body>

</html>
