<!DOCTYPE html>
<html lang="en">

<head>
    <title>UI for Group Project</title>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
</head>

<body>
    <link href="css/main.css" rel="stylesheet">
    <header>
        <div class="container">
            <img src="logo.png" alt="Temp Assignment Tracker Logo" width="250px" height="70px">
            <nav>
                <ul id="nav">
                    <li><button onclick="window.location.href='';">Main Menu</button></li>
                    <li><button onclick="window.location.href='calendar';">View Calendar</button></li>
                    <li><button href="">Save</button></li>
                    <li><button href="">Import</button></li>
                    <li><button href="">Export</button></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main_menu">
        <h1>Main Menu</h1>
        <div>
            <nav>
                <ul>
                    <li><button onclick="window.location.href='add_assignment';">Add Assignment</button></li>
                    <li><button onclick="window.location.href='edit_assignment';">Edit Assignment</button></li>
                    <li><button onclick="window.location.href='remove_assignment';">Remove Assignment</button></li>
                </ul>
            </nav>
        </div>
        <h2>Instructions</h2>
        <p>Welcome to the Assignment Tracker! This is the main page, where you can find any and all functions of this
            program.
            The options at the top allow you to view your calendar, as well as save any changes you have made. You can
            even export
            your calendar and use the file on a different device by importing it. The Main Menu button will bring you
            back to this page.
            These options will be available on every page in the same location. To the left you will see your options
            for adjusting
            your calendar. The options are pretty self-explanitory. Add Assignment allows you to add a new item to your
            calendar,
            Edit Assignment is used for editing items already on your calendar, and Remove Assignment is for deleting
            items from
            the calendar. If you want to keep track of finished assignments, make sure to mark them as completed,
            instead of deleting them.</p>
    </div>
</body>

</html>