<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assignment Planner</title>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
</head>

<body>
    <link href="css/main.css" rel="stylesheet">
    <div class="main_menu">
        <h1>Login Menu</h1>
        <nav>
            <ul>
                <li><button onclick="window.location.href='home';">Login</button></li>
                <li><button onclick="window.location.href='add_user';">New User</button></li>
            </ul>
        </nav>
    </div>
</body>

</html>
