<!DOCTYPE html>
<html lang="en">

<head>
    <title>UI for Group Project</title>
    <meta charset="UTF-8">
</head>

<body>
    <link href="css/main.css" rel="stylesheet">
    <header>
        <div class="container">
            <img src="logo.png" alt="Temp Assignment Tracker Logo" width="250px" height="70px">
            <nav>
                <ul id="nav">
                    <li><button onclick="window.location.href='/';">Main Menu</button></li>
                    <li><button onclick="window.location.href='calendar';">View Calendar</button></li>
                    <li><button onclick="window.location.href='settings';">Settings</button></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main_menu">
        <h1>Remove Assignment</h1>
        <div>
            <nav>
                <ul>
                    <li><button onclick="window.location.href='add_assignment';">Add Assignment</button></li>
                    <li><button onclick="window.location.href='edit_assignment';">Edit Assignment</button></li>
                    <li><button onclick="window.location.href='remove_assignment';">Remove Assignment</button></li>
                </ul>
            </nav>
        </div>
        <form id="assignment_remove" action="/remove_assignment.html" method="POST">
            <table>
                <tr>
                    <th id="remove"></th>
                    <th id="assignment">Assignment</th>
                    <th>Class</th>
                    <th>Due Date</th>
                    <th>Grade Weight</th>
                </tr>
                {% for assignment in assignments %}
                <tr>
                    <td><input type="checkbox" name="{{assignment.id}}"></td>
                    <td>{{assignment.name}}</td>
                    <td>{{courses[assignment.course_id].name}}</td>
                    <td>{{assignment.due}}</td>
                    <td class="num">{{assignment.weight}}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <input type="submit" id="submit_button" class="remove_submit" value="Remove Assignment"></input>
        </form>
    </div>
</body>

</html>