<!DOCTYPE html>
<html lang="en">

<head>
  <title>UI for Group Project</title>
  <meta charset="UTF-8">
</head>

<body>
  <link href="css/main.css" rel="stylesheet">
  <header>
    <div class="container">
      <img src="logo.png" alt="Temp Assignment Tracker Logo" width="250px" height="70px">
      <nav>
        <ul id="nav">
          <li><button onclick="window.location.href='/';">Main Menu</button></li>
          <li><button onclick="window.location.href='calendar';">View Calendar</button></li>
          <li><button onclick="window.location.href='settings';">Settings</button></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="main_menu">
    <h1>Settings</h1>
    <label>Import URL</label> <br>
    <form id="import_url" action="/add_assignment.html" method="post">
      <input type="text" id="import_url" name="import_url" placeholder="URL">
      <input type="submit" id="submit_button" value="Import Url"></input>
      <br>
      <label>Import Database</label> <br>
      <li>
        <form id="import" action="/import_calendar" method="post" enctype="multipart/form-data">
          <input type="file" id="hiddenFileUpload" onChange="document.getElementById('import').submit();"
            style="display:none;" name="file" />
          <button type="button" onclick="document.getElementById('hiddenFileUpload').click();">Import Database</button>
        </form>

      </li>
      <br>
      <label>Export Database</label> <br>
      <input type="text" id="export_database" name="export_database" placeholder="file name">
      <br>
    </form>
  </div>
</body>

</html>