<!DOCTYPE html>
<html lang="en">

<head>
    <title>UI for Group Project</title>
    <meta charset="UTF-8">
</head>

<body>
    <link href="/css/main.css" rel="stylesheet">
    <header>
        <div class="container">
            <img src="logo.png" alt="Temp Assignment Tracker Logo" width="250px" height="70px">
            <nav>
                <ul id="nav">
                    <li><button onclick="window.location.href='index.html';">Main Menu</button></li>
                    <li><button onclick="window.location.href='calendar_view.html';">View Calendar</button></li>
                    <li><button href="">Save</button></li>
                    <li><button href="">Import</button></li>
                    <li><button href="">Export</button></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main_menu">
        <h1>Main Menu</h1>
        <div>
            <nav>
                <ul>
                    <li><button onclick="window.location.href='add_assignment.html';">Add Assignment</button></li>
                    <li><button onclick="window.location.href='edit_assignment.html';">Edit Assignment</button></li>
                    <li><button onclick="window.location.href='remove_assignment.html';">Remove Assignment</button></li>
                </ul>
            </nav>
        </div>
        <form id="assignment_info" action="/add_assignment.html" method="post">
            <table>
                <tr>
                    <th id="remove"></th>
                    <th id="assignment">Assignment</th>
                    <th>Class</th>
                    <th>Due Date</th>
                    <th>Grade Weight</th>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Homework Assignment #6</td>
                    <td>Calculus II</td>
                    <td>02/15/2023</td>
                    <td>3%</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
            </table>
            <br>
            <input type="submit" id="submit_button">Remove Assignments</input>
        </form>
    </div>
</body>

</html>